.playing-overlay{
    position: absolute;
    display: grid;
    place-items: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(3px);
}

.info-playing{
    font-family: 'Goldman', cursive;
    display: grid;
    place-items: center;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    background-color: rgb(255,255,255);
}

.button-play-again{
    font-family: 'Goldman', cursive;
    border: none;
    font-size: 20px;
    color: rgb(255,255,255);
    background: linear-gradient(to right, #0096FF, #1F51FF);
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.win-lose{
    font-size: 20px;
}